<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Directory Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.toast.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dark_mode.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.toast.min.js' %}"></script>
    <script src="{% static 'admin/js/theme.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/urlify.js' %}"></script>
    <script src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>

    <script>
        const $ = django.jQuery;
        window.excelData = {{ excel_data|safe }};
        let current_index = 0;
        const color_false = `rgba(155, 10, 10, 1)`;
        const color_line = `rgba(200, 150, 0, 1)`;
        const color_review = `rgba(10, 150, 200, 1)`;
        const color_true = `rgba(0, 150, 0, 1)`;
        const color_undetect = `rgb(191, 99, 241)`;


        // 创建一个随机位置的 <span> x </span>
        function createRandomSpan(left_pix, top_pix) {
            const span = $('<span>✨</span>');
            span.css({position: 'absolute',left: left_pix,top: top_pix});
            $('body').append(span);
            return span;
        }
        function animateSpan(span, target_left_pix, target_top_pix) {
            span.animate({left: target_left_pix, top: target_top_pix}, 600, 'swing', function() {span.remove();});
        }

        function showColumn(columnValue) {
            {#console.log("22222: showColumn");#}
            const excelData = window.excelData;
            $('#column-content').empty();
            console.log("showColumn "  + " " + current_index);
            if (excelData && excelData.length > 0) {
                const row = excelData[current_index];
                console.log("row:", row)
                // 判断columnValue 是否是空字符

                 console.log("navigate "  + " " + current_index);
                 // 根据 row["Category"] 设置 column-content 的背景颜色
                 let categoryColor = '';
                 console.log("row['Category']:", row["Category"])
                 switch (row["Category"]) {
                     case 'FALSE':
                         categoryColor = color_false;
                         $('input[name="new_third_column"][value="' + row["Category"] + '"]').prop('checked', true);
                         break;
                     case 'LINE':
                         categoryColor = color_line;
                         $('input[name="new_third_column"][value="' + row["Category"] + '"]').prop('checked', true);
                         break;
                     case 'REVIEW':
                         categoryColor = color_review;
                         $('input[name="new_third_column"][value="' + row["Category"] + '"]').prop('checked', true);
                         break;
                     case 'TRUE':
                         categoryColor = color_true;
                         $('input[name="new_third_column"][value="' + row["Category"] + '"]').prop('checked', true);
                         break;
                     case 'UNDETECT':
                         categoryColor = color_undetect;
                         $('input[name="new_third_column"][value="' + row["Category"] + '"]').prop('checked', true);
                         break;
                     default:
                         categoryColor = 'white';
                 }

                $('#new_FALSE_label').css("color", color_false);
                $('#new_LINE_label').css("color", color_line);
                $('#new_REVIEW_label').css("color", color_review);
                $('#new_TRUE_label').css("color", color_true);
                $('#new_UNDETECT_label').css("color", color_undetect);
                $('#column-content').css('color', categoryColor);
                $('#column-content').append('<li> 行号:[ ' + row["row_number"] + " ]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 文件名: {" + row["Filename"] + '}</li>');
                $('#image-comment').val(row["comment"]);

                 // 获取概率值
                 let probabilities = row["Probabilities"];
                 {#console.log("Probabilities:", probabilities);#}

                 // 检查 probabilities 是否为字符串并转换为数组
                 if (typeof probabilities === 'string') {
                     // 替换probabilities 的 '  为 ''
                     probabilities = probabilities.replace(/'/g, '"');
                     {#console.log("Replaced probabilities:", probabilities);#}

                     try {
                         probabilities = JSON.parse(probabilities);
                     } catch (e) {
                         console.error(probabilities);
                         console.error("Error parsing probabilities JSON:", e);
                         probabilities = [];
                     }
                 }
                 {#console.log("Probabilities:", probabilities);#}
                 // 显示概率值
                 const probabilitiesContainer = $('.Probabilities-container');
                 probabilitiesContainer.empty();
                  // probabilities 是一个json对象，包含四个概率值 获取它们并转换为数字
                 let probabilitiesArray = [
                     parseFloat(probabilities.false),
                     parseFloat(probabilities.B),
                     parseFloat(probabilities.C),
                     parseFloat(probabilities.D)
                 ];
                 {#console.log(parseFloat(probabilities.false))#}
                 {#console.log(parseFloat(probabilities.line))#}
                 {#console.log(parseFloat(probabilities.review))#}
                 {#console.log(parseFloat(probabilities.true))#}
                 let p_false  = parseFloat(probabilities.false)
                 let p_line   = parseFloat(probabilities.line)
                 let p_review = parseFloat(probabilities.review)
                 let p_true   = parseFloat(probabilities.true)

                 probabilitiesContainer.append(`
                     <div>
                         <div style="width: ${p_false*4 +80}px; height: 20px; background-color: ${color_false};"></div>
                         <span>false：${p_false.toFixed(2)}</span>
                     </div>
                 `);
                 probabilitiesContainer.append(`
                     <div>
                         <div style="width: ${p_line*4 +80}px; height: 20px; background-color: ${color_line};"></div>
                         <span>line：${p_line.toFixed(2)}</span>
                     </div>
                 `);
                 probabilitiesContainer.append(`
                     <div>
                         <div style="width: ${p_review*4 +80}px; height: 20px; background-color: ${color_review};"></div>
                         <span>review：${p_review.toFixed(2)}</span>
                     </div>
                 `);
                 probabilitiesContainer.append(`
                     <div>
                         <div style="width: ${p_true*4 +80}px; height: 20px; background-color: ${color_true};"></div>
                         <span>true：${p_true.toFixed(2)}</span>
                     </div>
                 `);


                 //在download-container 中给出下载图片的链接， 链接是row["Download_Path"]
                 const fileName = row["Download_Path"].split('\\').pop().split('/').pop(); // 兼容 Windows 和 Unix 路径分隔符
                 $('.download-container').empty();
                 $('.download-container').append(`
                     <a href="${row["Download_Path"]}" target="_blank">
                         <button class="btn btn-primary">下载 ${fileName}</button>
                     </a>
                 `);



                 // 新增代码：通过AJAX请求获取静态图路径
                 $.ajax({
                     url: '{% url "get_image_data" %}',
                     type: 'POST',
                     data: JSON.stringify({ a_img_value: row["A_Image_Path"] }),
                     contentType: 'application/json',
                     success: function(response) {
                         $('#static-image').attr('src', 'data:image/png;base64,'+response.image_data);
                     },
                     error: function(xhr, status, error) {
                         console.error("Error fetching static image path:", error);
                     }
                 });
                 $.ajax({
                     url: '{% url "get_image_data" %}',
                     type: 'POST',
                     data: JSON.stringify({ a_img_value: row["B_Image_Path"] }),
                     contentType: 'application/json',
                     success: function(response) {
                         $('#new-image').attr('src', 'data:image/png;base64,'+response.image_data);
                         console.log("hist-image: new-image");
                     },
                     error: function(xhr, status, error) {
                         console.error("Error fetching static image path:", error);
                     }
                 });
                 $.ajax({
                     url: '{% url "get_image_data" %}',
                     type: 'POST',
                     data: JSON.stringify({ a_img_value: row["C_Image_Path"] }),
                     contentType: 'application/json',
                     success: function(response) {
                         $('#hist-image').attr('src', 'data:image/png;base64,'+response.image_data);
                         console.log("hist-image: hist-image");
                     },
                     error: function(xhr, status, error) {
                         console.error("Error fetching static image path:", error);
                    }
                 });
                 // 获取编辑图标
                 $('#saved_mark').text($('#row_status_id_'+(current_index+1)).text());
            }
        }
        function update_category_count() {

            // 更新third_column 迭代third_column, 重新计数
            const category_column_values = excelData.map(row => row['Category']);
            let grouped_third_column = {'REVIEW': 0,'FALSE': 0,'UNDETECT': 0,'TRUE': 0,'LINE': 0,}
            for (let i = 0; i < category_column_values.length; i++) {
             if (category_column_values[i] in grouped_third_column) {
                 grouped_third_column[category_column_values[i]] += 1;
             } else {
                 grouped_third_column[category_column_values[i]] = 1;
             }
            }
            for (const key in grouped_third_column) {
             $('#label_'+key).text(key + " [ " + grouped_third_column[key]+ " ]");
            }
            console.log(grouped_third_column);
        }


        function radio_click_init() {
            current_index = 0;
            navigate("next");
        }
        function save_change(auto_next) {
            const new_radioValue = $('input[name="new_third_column"]:checked').val();
            const new_comment = $('#image-comment').val();
            const row = excelData[current_index];
            $.ajax({
                 url: '{% url "save_change" %}',
                 type: 'POST',
                 data: JSON.stringify({ row_filename: row["Filename"], row_index: current_index,
                     type_value: new_radioValue, comment_txt: new_comment, directory_name: "{{ directory_name }}" }),
                 contentType: 'application/json',
                 success: function(response) {
                    excelData[current_index]['Category']= new_radioValue;
                    update_category_count();

                     $('#row_status_id_'+(current_index+1)).text('✅');
                     // 添加一个提示泡， 使用自动消失的提示框
                     $.toast({heading: 'Success', loader: false,
                         text: '已保存',
                         position: 'top-right',loaderBg: '#ff6849',icon: 'success',hideAfter: 3000,stack: 6
                     });

                     const $editButton = $('#modify_button');
                     const $target = $('#row_status_id_' + (current_index + 1));
                     const initialSpan = createRandomSpan( $editButton.offset().left,  $editButton.offset().top);

                     console.log($editButton.offset().left);
                     console.log($editButton.offset().top);
                     console.log($target.offset().left);
                     console.log($target.offset().top);
                     animateSpan(initialSpan, $target.offset().left, $target.offset().top);
                     if (auto_next){
                         navigate("next");
                     }


                 },
                 error: function(xhr, status, error) {
                     console.error("Error fetching static image path:", error);
                     console.error("Error fetching static image path:", xhr);
                     console.error("Error fetching static image path:", status);
                     $.toast({
                         heading: 'Error',
                         text: "保存失败 : " + xhr.responseText,
                         position: 'top-right',loaderBg: '#ff6849',icon: 'error',hideAfter: 30000,stack: 6
                     });
                }
            });
        }
        function navigate(direction) {
            const excelData = window.excelData;
            const radioValue = $('input[name="third_column"]:checked').val()
            console.log("radio: " + radioValue)

            if (!radioValue || radioValue === '') {
                if (excelData && excelData.length > 0) {
                    if (direction === 'next' && current_index < excelData.length - 1) {
                        current_index++;
                    } else if (direction === 'prev' && current_index > 0) {
                        current_index--;
                    }
                    console.log("navigate " + direction + " " + current_index);
                    console.log("current_index 1: " + current_index);
                    showColumn('');
                }
            }else {
                let found_next = false;
                if (direction === 'next') {
                    for (let i = current_index+1; i < excelData.length; i++) {
                        let row = excelData[i];
                        console.log(radioValue +  " + " + row["Category"])
                        if (row["username"] && row["username"].length>0){
                            continue;
                        }
                        if (radioValue === row["Category"]) {
                            current_index = i;
                            found_next = true;
                            break;
                        }
                    }
                }else if (direction === 'prev' && current_index > 0) {
                    for (let i = current_index-1; i >0; i--) {
                        let row = excelData[i];
                        console.log(radioValue +  " - " + row["Category"])
                        if (row["username"] && row["username"].length>0){
                            continue;
                        }
                        if (radioValue === row["Category"]) {
                            current_index = i;
                            found_next = true;
                            break;
                        }
                    }
                }
                if (!found_next) {
                    console.log("没有找到下一个未编辑行 ["+radioValue+"]")
                    // 修改图像src 属性为300x200.svg
                    $('#static-image').attr('src', '{% static "img/300x200.svg" %}');
                    $('#new-image').attr('src', '{% static "img/300x200.svg" %}');
                    $('#hist-image').attr('src', '{% static "img/300x200.svg" %}');
                    $.toast({heading: '',text: "没有找到下一个 ["+radioValue+"]",loader: false,
                        position: 'top-right',icon: 'warning',hideAfter: 3000
                    });
                }else {
                    console.log("current_index 2: " + current_index)
                    showColumn(radioValue);
                }

            }
        }

        // 新增代码：添加图片点击切换功能
        function cycleTheme() {
            // 切换 html标签的 data-theme="dark" data-theme="light"属性
            const html = document.querySelector('html');
            if (html.getAttribute('data-theme') === 'dark') {
                html.setAttribute('data-theme', 'light');
            } else {
                html.setAttribute('data-theme', 'dark');
            }
            //保存设置到 localStorage
            localStorage.setItem('theme', html.getAttribute('data-theme'));

        }

        $(document).ready(function() {
            {#console.log("1111: onload");#}
            var excelData = window.excelData;
            if (excelData && excelData.length > 0) {
                for (let i = 0; i < excelData.length; i++) {
                    const row = excelData[i];
                    {#console.log("Row " + (i + 1) + ": ", row);#}
                    // 判断 row["username"] 是否存在且长度大于0
                    const displayChar = row["username"] && row["username"].length > 0 ? '✅' : '✨';
                    $('#row_status-content').append('<span id="row_status_id_' + row["row_number"] + '" style="display: inline-block; width: 1em;">' + displayChar + '</span>');
                    if((i+1)%5 == 0) {
                        $('#row_status-content').append('<span style="display: inline-block; width: 1em;"> ' + '</span>');
                    }
                    if((i+1)%50 == 0) {
                        $('#row_status-content').append('<br/>');
                    }
                }
            }
            let newImageVisible = true;
            $('#new-image').show();
            $('#hist-image').hide();
            $('#new-image').click(function() {
                 $('#new-image').toggle();
                 $('#hist-image').toggle();
            });

            $('#hist-image').click(function() {
                 $('#new-image').toggle();
                 $('#hist-image').toggle();
            });

            // 绑定键盘快捷键
            $(document).keydown(function(event) {
                switch (event.key) {
                    case 'ArrowRight':
                        navigate('next');
                        break;
                    case 'ArrowLeft':
                        navigate('prev');
                        break;
                    case 'ArrowUp':
                        $('#new-image').click();
                        break;
                }
            });
            //showColumn("");

            $.toast({heading: 'Success', loader: false,
             text: '已加载{{ directory_name }}',
             position: 'top-right',loaderBg: '#ff6849',icon: 'success',hideAfter: 3000
            });

            // 新增代码：绑定主题切换按钮
            $('#theme-toggle').click(function() {
                cycleTheme();
            });
            // 从本地存储中读取主题设置，并应用到页面上
            const theme = localStorage.getItem('theme');
            if (theme) {
                document.querySelector('html').setAttribute('data-theme', theme);
            }

            const default_select_radio = $('input[name="third_column"][value="' + "TRUE" + '"]');
            default_select_radio.prop('checked', true);
            default_select_radio.click();
        });
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'index' %}">HMT AI select</a></h1>
            </div>
            <div id="user-tools">
                <strong ><a style="margin-right: 20px; font-size: 14px;" href="{% url 'directory_detail_saved' directory_name 'true' %}">前往已判页面的链接</a></strong>
                {% if user.is_authenticated %}
                    [<strong>{{ user.username }}</strong>] | <a href="{% url 'admin:logout' %}"> [退出]</a>
                {% else %}
                    <a href="{% url 'admin:login' %}">Log in</a>
                {% endif %}
                            <!-- 新增代码：主题切换按钮 -->
                <a id="theme-toggle" style="background: none; border: none; cursor: pointer;">
                    样式切换
                </a>
            </div>
        </div>
        <div id="content" class="flex">
            <div style="display: flex; align-items: center;">
                <h2>目录: {{ directory_name }}  <span><a href="{% url 'index' %}">[返回]</a> </span></h2>
                <h3 style="margin-left: 100px;">被编辑状态</h3>
                <div id="row_status-content" style="display: inline-block; margin-left:20px;">
                </div>
            </div>
            <form style="display: flex; flex-direction: row;">
                {% for item, count in third_column.items %}
                    <div style="margin-right: 10px;">
                        <input type="radio" id="{{ item }}" name="third_column" value="{{ item }}" onclick="radio_click_init()">
                        <label id="label_{{ item }}" for="{{ item }}">{{ item }} [{{ count }}]</label>
                    </div>
                {% endfor %}
            </form>

            <div id="content-main">
                <!-- 新增的按钮 -->
                <div style="display: flex;">
                    <button class="button" onclick="navigate('prev')" style="margin-right: 30px;">上一个（键盘左）</button>
                    <button class="button" onclick="navigate('next')">下一个（键盘右）</button>
                    <ul id="column-content"></ul>
                </div>

                <!-- 新增的图片设计内容 -->
                <div class="image-container">
                    <div style="display: inline-block; margin-right: 20px;">
                        <h3>静态图</h3>
                        <img id="static-image" src="{% static 'img/300x200.svg' %}" alt="Static Image">
                    </div>
                    <div style="display: inline-block;">
                        <h3>新图、历史图（鼠标点击、键盘上 切换）</h3>
                        <img id="new-image" src="{% static 'img/300x200.svg' %}" alt="New Image">
                        <img id="hist-image" src="{% static 'img/300x200.svg' %}" alt="New Image">
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="Probabilities-container" style="display: flex; flex-direction: row;">
                        <h3>各概率值，四个值</h3>

                    </div>

                    <div class="download-container" style="margin-left: 20px;">
                        <h3>下载原图（链接）</h3>
                        <a href="" download>Download Original Image</a>
                    </div>
                </div>

                <div style="display: flex;">
                    <div class="image-comment-container">
                        <h3>备注：</h3>
                        <textarea id="image-comment" rows="2" cols="50"></textarea>
{#                        <p>判断的备注，比如确认这个是某个小行星或者某个变星编号</p>#}
                    </div>

                    <div style="display: flex; flex-direction: row;margin-left: 100px;">

                        <div style="margin-right: 10px;margin-top: 40px;">
                            <input type="radio" id="new_REVIEW" name="new_third_column" value="REVIEW" >
                            <label for="new_REVIEW" id="new_REVIEW_label">REVIEW</label>
                        </div>

                        <div style="margin-right: 10px;margin-top: 40px;">
                            <input type="radio" id="new_FALSE" name="new_third_column" value="FALSE" >
                            <label for="new_FALSE" id="new_FALSE_label">FALSE</label>
                        </div>

                        <div style="margin-right: 10px;margin-top: 40px;">
                            <input type="radio" id="new_UNDETECT" name="new_third_column" value="UNDETECT" >
                            <label for="new_UNDETECT" id="new_UNDETECT_label">UNDETECT</label>
                        </div>

                        <div style="margin-right: 10px;margin-top: 40px;">
                            <input type="radio" id="new_TRUE" name="new_third_column" value="TRUE" >
                            <label for="new_TRUE" id="new_TRUE_label">TRUE</label>
                        </div>

                        <div style="margin-right: 10px;margin-top: 40px;">
                            <input type="radio" id="new_LINE" name="new_third_column" value="LINE" >
                            <label for="new_LINE" id="new_LINE_label">LINE</label>
                        </div>

                    </div>

                    <div class="true-false-container" style="margin-left: 100px;">
                        <h3>分类判断是否正确按钮</h3>
                        <span id="saved_mark">✨✅</span><button id="modify_button" class="button" onclick="save_change(true)" style="margin-right: 30px;">修改判断</button>
                        <button id="correct_button" class="button" onclick="save_change(true)" style="margin-right: 30px;">确认正确</button>
                    </div>
                </div>

                <div class="image-container">
                    <h3><a href="{% url 'directory_detail_saved' directory_name 'true' %}">前往已判页面的链接</a></h3>
                    <h2>目录: {{ directory_name }}  <span><a href="{% url 'index' %}">[返回]</a> </span></h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>