<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Directory Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'admin/js/actions.js' %}"></script>
    <script src="{% static 'admin/js/urlify.js' %}"></script>
    <script src="{% static 'admin/js/prepopulate.js' %}"></script>
    <script src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>

    <script>
        const $ = django.jQuery;
        window.excelData = {{ excel_data|safe }};
        let current_index = 0;

        function showColumn(columnValue) {
            const excelData = window.excelData;
            $('#column-content').empty();
            console.log("showColumn "  + " " + current_index);
            if (excelData && excelData.length > 0) {
                const row = excelData[current_index];
                // 判断columnValue 是否是空字符
                if (columnValue === '' || columnValue === row[Object.keys(row)[2]]) {
                     console.log("navigate "  + " " + current_index);
                     $('#column-content').append('<li>' + row[Object.keys(row)[0]] + " " + row[Object.keys(row)[0]] + '</li>');

                     // 新增代码：通过AJAX请求获取静态图路径
                     $.ajax({
                         url: '{% url "get_image_data" %}',
                         type: 'POST',
                         data: JSON.stringify({ a_img_value: row["A_Image_Path"] }),
                         contentType: 'application/json',
                         success: function(response) {
                             $('#static-image').attr('src', 'data:image/png;base64,'+response.image_data);
                         },
                         error: function(xhr, status, error) {
                             console.error("Error fetching static image path:", error);
                         }
                     });
                     $.ajax({
                         url: '{% url "get_image_data" %}',
                         type: 'POST',
                         data: JSON.stringify({ a_img_value: row["B_Image_Path"] }),
                         contentType: 'application/json',
                         success: function(response) {
                             $('#new-image').attr('src', 'data:image/png;base64,'+response.image_data);
                         },
                         error: function(xhr, status, error) {
                             console.error("Error fetching static image path:", error);
                         }
                     });
                     $.ajax({
                         url: '{% url "get_image_data" %}',
                         type: 'POST',
                         data: JSON.stringify({ a_img_value: row["C_Image_Path"] }),
                         contentType: 'application/json',
                         success: function(response) {
                             $('#hist-image').attr('src', 'data:image/png;base64,'+response.image_data);
                         },
                         error: function(xhr, status, error) {
                             console.error("Error fetching static image path:", error);
                        }
                     });
                }
            }
        }

        // 新增代码：在控制台显示excelData的前两行的第1、2、3、5列
        window.onload = function() {
            var excelData = window.excelData;
            if (excelData && excelData.length > 0) {
                for (var i = 0; i < Math.min(2, excelData.length); i++) {
                    var row = excelData[i];
                    console.log("Row " + (i + 1) + ": ", row);
                    var columns = [row[Object.keys(row)[0]], row[Object.keys(row)[1]], row[Object.keys(row)[2]], row[Object.keys(row)[4]]];
                    console.log("Row " + (i + 1) + ": ", columns);
                }
            }
        };

        function navigate(direction) {
            const excelData = window.excelData;
            if (excelData && excelData.length > 0) {
                if (direction === 'next' && current_index < excelData.length - 1) {
                    current_index++;
                } else if (direction === 'prev' && current_index > 0) {
                    current_index--;
                }
                console.log("navigate " + direction + " " + current_index);
                showColumn('');
            }
        }

        // 新增代码：添加图片点击切换功能
        $(document).ready(function() {
            let newImageVisible = true;
            $('#new-image').show();
            $('#hist-image').hide();
            $('#new-image').click(function() {
                 $('#new-image').toggle();
                 $('#hist-image').toggle();
            });

            $('#hist-image').click(function() {
                 $('#new-image').toggle();
                 $('#hist-image').toggle();
            });

            // 绑定键盘快捷键
            $(document).keydown(function(event) {
                switch (event.key) {
                    case 'ArrowRight':
                        navigate('next');
                        break;
                    case 'ArrowLeft':
                        navigate('prev');
                        break;
                    case 'ArrowUp':
                        $('#new-image').click();
                        break;
                }
            });
        });
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="branding">
                <h1 id="site-name"><a href="{% url 'index' %}">HMT AI select</a></h1>
            </div>
            <div id="user-tools">
                {% if user.is_authenticated %}
                    Welcome, <strong>{{ user.username }}</strong>. <a href="{% url 'admin:logout' %}">Log out</a>
                {% else %}
                    <a href="{% url 'admin:login' %}">Log in</a>
                {% endif %}
            </div>
        </div>
        <div id="content" class="flex">
            <form>
                {% for item, count in third_column.items %}
                    <input type="radio" id="{{ item }}" name="third_column" value="{{ item }}" onclick="showColumn(this.value)">
                    <label for="{{ item }}">{{ item }} [{{ count }}]</label><br>
                {% endfor %}
            </form>

            <div id="content-main">
                <h2>Directory: {{ directory_name }}</h2>
                <p><a href="{% url 'index' %}">Back to Index</a></p>
                <h3>Contents:</h3>
                <ul id="column-content" >

                </ul>

                <!-- 新增的按钮 -->
                <button onclick="navigate('prev')">上一个</button>
                <button onclick="navigate('next')">下一个</button>
                <!-- 新增的图片设计内容 -->
                <div class="image-container">
                    <div style="display: inline-block; margin-right: 20px;">
                        <h3>静态图</h3>
                        <img id="static-image" src="https://placehold.co/300x200" alt="Static Image">
                        <p>调用路径见Excel文件A_Image_Path列，把X:\改成E:\HMT-backend就行了</p>
                    </div>
                    <div style="display: inline-block;">
                        <h3>新图、历史图（与psp网页类似,鼠标点击切换）</h3>
                        <img id="new-image" src="https://placehold.co/300x200" alt="New Image">
                        <img id="hist-image" src="https://placehold.co/300x200" alt="New Image">

                        <p>调用路径分别是excel文件的B_Image_Path和C_Image_Path</p>
                    </div>
                </div>

                <div class="image-container">
                    <h3>各概率值，四个值</h3>
                    <p>直接调用excel文件的Probabilities值</p>
                </div>

                <div class="image-container">
                    <h3>下载原图（链接）</h3>
{#                    <a href="{% url 'download_image' %}" download>Download Original Image</a>#}
                </div>

                <div class="image-container">
                    <h3>分类判断是否正确按钮</h3>
                    <button onclick="alert('Correct')">正确</button>
                    <button onclick="alert('Incorrect')">错误</button>
                </div>

                <div class="image-container">
                    <h3>备注：</h3>
                    <p>应该是用户判断的备注，比如确认这个是某个小行星或者某个变星编号，用户可写可不写</p>
                </div>

                <div class="image-container">
                    <h3>前往已判页面的链接</h3>
{#                    <a href="{% url 'judged_pages' %}">前往已判页面</a>#}
                </div>
            </div>
        </div>
    </div>
</body>
</html>